body {
  background-color: hsl(0, 0%, 10%);
}
p {
  color: #fff;
}

input::placeholder {
  color: rgb(179, 176, 176);
}
.text-head {
  color: hsl(150, 87%, 22%);
  font-size: 18px;
}
.form-control {
  width: 100%;
  line-height: 1.5;
  padding: 5px 10px;
  border: 1px solid hsl(0, 0%, 10%);
  color: #fff;
  background: hsl(0, 0%, 10%);
  outline: none;
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -webkit-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -moz-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -ms-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -o-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.form-control:focus,
.form-control:active {
  width: 100%;
  line-height: 1.5;
  padding: 10px 10px;
  border: 1px solid hsl(150, 87%, 22%);
  box-shadow: 0 0 0 0 hsl(150, 87%, 22%);

  outline: none;
  color: #fff;
  background: hsl(0, 0%, 10%);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -webkit-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -moz-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -ms-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  -o-transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}
.row {
  background-color: hsl(0, 0%, 14%);
}
@media screen and (max-width: 768px) {
  p {
    font-size: 12px;
  }
  thead,
  tbody td {
    font-size: 14px !important;
  }
  .table > :not(caption) > * > * {
    padding: 0;
  }
}
